{% extends 'core/plantilla.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-6 col-sm-4 animate__animated animate__backInRight animate__delay-0.4s">
                <div class="card">
                    <div class="card-header text-center font-weight-bold">
                        {{ title }}
                    </div>
                    <div class="card-body  table-responsive">
                        <div class="d-flex justify-content-end mb-2 mx-2">
                            <a href="/addcategoria" class="btn btn-success" type="submit">
                            Nueva Categoria
                            </a>
                        </div>
                        <table class="table table-condensed">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% if entity %} {% for categoria in entity %}
                                <tr>
                                    <td>{{ categoria.id }}</td>
                                    <td>{{ categoria.nombre }}</td>
                                    <td colspan="2" class="text-center">
                                        <a class="btn btn-secondary " href="{% url 'editcategoria' categoria.id %}" type="button" style="margin: 5% 40% 15% 40%;"><i class="bi bi-pencil-square"><img src="{% static 'core/img/update.png' %}" width="20px" alt=""></i></a>
                                        <a class="btn btn-danger " href="{% url 'deleteCategoria' categoria.id %}" type="button" style="margin: -10% 40% 5% 40%;"><i class="bi bi-trash-fill"><img src="{% static 'core/img/borrar.png' %}" width="20px" alt=""></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <div class="text-center text-warning">
                                    <h3> No se encontraron Productos!!</h3>
                                </div>
                                {% endif %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}